*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: #f3f3f3;
    color: black;
}
ul{
    text-align: center;
    padding: 40px;
}
li{
    display: inline;
    font-size: 20px;
    font-weight: bold;
    padding: 10px, 30px;
    margin: 2em;
}
li a:hover{
    color: red;
    font-size: 21px;
    text-decoration: none;
    list-style-type: none;
}
hr{
    border: none;
}
p{
    font-size: 20px;
}
h3{
    font-size: 22px;
}
#menu{
    background-image: linear-gradient(to bottom, #e0e4ce, #e0e4ce, transparent);
}
#encabezado{
    color: white;
    background-image: linear-gradient(to bottom, #2d3839, #114d4d, #6e9987, #e0e4ce);
    height: 550px;
}
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    text-align: justify;
    margin: 5px;
}
.card {
    box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px;
    border-radius: 10px;
}
.card:hover {
    scale: 1.02;
}
.card image {
    background-color: #ffff;
}
.title {
    color: white;
    height: auto;
    padding: 10px;
    text-align: center;
    background-color: #114d4d;
    font-size: 24px;
}
.title2 {
    color: #ffff;
    height: auto;
    padding: 5px;
    text-align: center;
    background-image: linear-gradient(to left, transparent, #6e9987, transparent);
}
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: #ffff;
    background-color: #114d4d;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
button:hover {
    opacity: 0.7;
}
footer {
    background-image: linear-gradient(to bottom,transparent, #e0e4ce, #6e9987);
    text-align: center;
}
h5 {
    color: #ffff;
    text-align: left;
}